.app_top{

}

.app{
  background-image: url(https://i.ibb.co/10yyPfG/jordans.jpg);
  background-size:cover;
  background-position: bottom center;
  height: 100vh;
  margin:0;
  background-attachment: fixed;
  background-repeat: no-repeat;
}