.app_top{

}

.app{
  background-image: url(https://a0.muscache.com/im/pictures/48738093-5bae-4223-9cab-aa1be937305f.jpg);
  background-size:cover;
  background-position: center center;
  height: 100vh;
  margin:0;
}