.header{
    display: flex;
    top:0;
    height: 50px;
    padding: 50px;
    position: sticky;
    background-color: white;
    z-index: 2;
}

.header_links.title{
    font-family: 'East Sea Dokdo', cursive;
    font-size: 30px;
    min-width: 150px;
}

.header_left{
    display: flex;
    flex:  0.1;

}
.header_left>img{
    width: 108px;
    height: 50px;
    object-fit: contain;

}
.header_center{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 200px;
    flex: 0.5;
}
.header_center>.header_links{
    padding-left: 30px;
    padding-right:30px
}
.header_links{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 500;
    font-size: 17px;
    min-width: 130px;
    text-align: center;
}
.header_right{
    display: flex;
    flex: 0.5;
    padding-left: 100px;
    align-items: center;
    justify-content: center;
}

.header_right_host{
    background-color: transparent;
    padding: 13px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 999px;
}
.header_right_host>p{
    font-weight: 500;
}
.header_links:hover{
    cursor: pointer;
}

.header_right_lang{
    background-color: transparent;
    padding: 10px;
    padding-left: 15px;
    border-radius: 999px;
    margin-left: 5px;
}
.header_right_host:hover,.header_right_lang:hover{
    background-color: white;
    cursor: pointer;
}
.header_right_user{
    display: flex;
    align-items: center;
    margin-left: 20px;
    background-color: white;
    border-radius: 999px;
    padding: 6px;
}

.MuiAvatar-root{
    width:30px !important;
    height: 30px !important;
    margin-left: 10px;
}

.header_links.mobile{
    
}

@media(max-width:1910px){
    .header_center{
        padding-left: 10px;
    }
    .header_right{
        padding-left: 0px;
    }
}
@media(max-width:1910px){
    .header_center{
        padding-left: 0px;
    }
    .header_links{
        margin: 0px;
        padding: 0px;
    }
}
@media(max-width:1221px){
    .header_center{
        padding-left: 0px;
        font-size: 12px;
    }
    .header_right{
        font-size: 12px;
    }
    .header_center>.header_links{
        margin: 0px;
        padding-left: 0px;
    }
}

@media(max-width:735px){

    .header_links{
        visibility: hidden;
    }
    .header_links.title{
        visibility: visible;
    }
    .header_right{
        display: none;
    }
    .header_center{
        display: none;
    }

    .header{
        justify-content: center;
        margin-left: -10px;
        width: unset;
        position: relative;
        padding-left: 30px;
    }

    .header_left>img{
        width: 122px;
        padding-left: 30px;
    }

}